.btn-blue {
background-color: #027300;
padding: 13px 25px;
border-radius: 6px;
color: white;
font-weight: bold;
font-family: 'Roboto', sans-serif;
}

.btn-blue:hover {
background-color: #BF150A;
color: black;
